.days{
    display: flex;
    flex-direction: row;
}
 .weather-day{
        display: flex;
        flex-direction: column;
        width: 155px;
        margin: 1px;
        margin-left: 1px;
    &:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.9);
    }
    &_day-num{
        text-align: center;
        background-color:#0492C2;
        color:white;
        font-size: 25px;
        width: 155px;
    }
    &_day-pic{
        width: 150px;
        padding: 5px;
    }
    &_day-temp{
        text-align: center;
        font-size: 25px;
    }
}